<script src="https://cdn.tailwindcss.com/3.4.3"></script>
<!-- dont remove this comment here -->

<div id="template_picture_modal" style="display:hidden">
    <div id="modal-!!REQNO!!" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
        <div class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow-md space-y-4" id="modal-content-!!REQNO!!">
          <img src="!!IMGSRC!!" alt="generated image" class="w-full h-auto" id="modal-image-!!REQNO!!" />
          <div class="flex space-x-4" id="modal-buttons-!!REQNO!!">
            <button
              class="p-2 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
              id="download-btn">Download</button>
            <button
              class="p-2 bg-green-500 text-white rounded-md shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500"
              id="animate-btn">Animate</button>
          </div>
        </div>
    </div>
</div>
