<script src="https://cdn.tailwindcss.com/3.4.3"></script>
<!-- dont remove this comment here -->

<div id="template_message_continue" style="display:hidden">


<div id="interaction-cont-!!REQNO!!">
  <div id="user-message-cont-!!REQNO!!" role="user" chat="" class="bg-teal-500 text-white p-4 rounded-lg shadow-md self-end text-lg">
    <p>!!USER-REQUEST!!</p>
  </div>
  
  
  <div id="gpt-message-cont-!!REQNO!!" role="ai" chat="" class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow-md flex flex-col sm:flex-row items-start space-y-4 sm:space-y-0 sm:space-x-4 text-lg" > 
    <pre style = "white-space: pre-wrap" ><p id="gpt-text-cont-!!REQNO!!" class="text-zinc-800 dark:text-zinc-200"></p>
    </pre>  
  </div> <!--gpt-message--!!REQNO!!-->
</div>
      
</div>
